.bar-chart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bar-chart__of-seven {
  width: 2.5rem;
}

.bar-chart__of-five {
  width: 3.5rem;
}

.bar-chart__bar {
  width: 2rem;
}

.bar-chart__of-seven .bar-chart__bar {
  margin-left: 0.25rem;
}

.bar-chart__of-five .bar-chart__bar {
  margin-left: 0.75rem;
}

.bar-chart__bar.is-highlighted {
  background-color: var(--c-orange);
}

.bar-chart__bar.is-not-highlighted {
  background-color: var(--c-blue);
}
