.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 4.5rem);
  justify-content: center;
  align-items: center;
}

.stats-grid__number {
  font-size: 1.5rem;
}

.stats-grid__value {
  color: var(--c-grey);
  font-size: 15px;
}

.stats-grid__label {
  font-size: 15px;
}
