.App {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 72px);
  grid-template-rows: minmax(7rem, auto) repeat(5, 72px);
  justify-content: center;
  align-items: center;
}

.span-four {
  grid-column: span 4;
}

.span-two {
  grid-column: span 2;
}

.grid > div {
  border: solid black 1px;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
