@import "styles/bar-chart";
@import "styles/calculator";
@import "styles/caret";
@import "styles/footer";
@import "styles/grid";
@import "styles/react-share";
@import "styles/stats-grid";
@import "styles/utilities";

/* Variables */

:root {
  --c-blue: #a2c1e0;
  --c-green: #036016;
  --c-dark-grey: #333333;
  --c-grey: #666666;
  --c-orange: #f17105;
  --c-red: #81171b;
}

/* Basics */

.app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

/* Old Code to be refactored */

.solved,
.is-valid {
  color: var(--c-green);
}

.not-solved {
  font-weight: bold;
}

.wip,
.impossible {
  color: var(--c-grey);
}

.is-not-valid {
  color: var(--c-red);
  font-weight: bold;
}

.chosen-mode {
  color: var(--c-orange);
  font-weight: bold;
}

/* Calculator */

.used {
  background-color: var(--c-blue);
}

.equals {
  background-color: var(--c-orange);
}

/* How To */

.text-page {
  width: 300px;
  margin: auto auto;
}

.text-page p {
  color: var(--c-dark-grey);
}
